<ion-view style="" title="Sobre">
    <div class="header">Sobre</div>
    <ion-content class="has-header about" overflow-scroll="true" padding="true">
      <p>O aplicativo Mapas Culturais foi modificado com o intuito de aprendizado em 15/02/2017.</p>

      <p>Mais informações:  <a href="http://sniic.cultura.gov.br">sniic.cultura.gov.br</a> / <a href="http://github.com/hacklabr/mapasculturais-app">github</a></p>

      <p ng-if="version">Versão: {{version}}</p>

      <p style="width: 100%; text-align: center; padding-top: 1em;">
        <img src="img/gnu.jpg" width="80%" style="margin: auto"/>
      </p>
    </ion-content>
</ion-view>
