<ion-view style="" title="Sobre">
    <div class="header">Sobre</div>
    <ion-content class="has-header about" overflow-scroll="true" padding="true">
      <p>O aplicativo foi adaptado pelo Instituto Cidade Democrática para o projeto Laboratórios Livres de Participação Social contemplado pelo Edital Redes e Ruas 2016 da Prefeitura de São Paulo. Originalmente desenvolvido pelo Hacklab em parceria com o Instituto TIM.</p>

      <p>Mais informações: <a href="http://instituto.cidadedemocratica.org.br">instituto.cidadedemocratica.org.br</a> / <a href="https://github.com/cidadedemocratica/mapasculturais-app">github</a></p>

      <p ng-if="version">Versão: {{version}}</p>

      <p style="width: 100%; text-align: center; padding-top: 1em;">
        <img src="img/tim.svg" width="80%" style="margin: auto"/>
      </p>
    </ion-content>
</ion-view>
